{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure {:mvn/version "1.9.0"}
           datascript {:mvn/version "0.16.6"}
           aysylu/loom {:mvn/version "1.0.1"}}
 :aliases {:test {:extra-paths ["test"]}}}